* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
html {
    background: $white;
}

body {
  margin: 0;
  padding: 0;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header-wrapper {
  position: relative;
  z-index: 5;
  padding: 2em;
  @media only screen and (min-width: 700px) {
    padding: 3em;
  }
}

a.logo {
  display: block;
  text-decoration: none;
  color: red;
  margin: 0 0 0.75em;
  letter-spacing: -0.05em;
  font-weight: 700;
  font-size: 32px;
  @media only screen and (min-width: 700px) {
    font-size: 36px;
  }
}

nav {
  line-height: 1.6;
  padding-left: 2px;
  a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    letter-spacing: 0.02em;
    @media only screen and (min-width: 700px) {
      font-size: 15px;
    }
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}

.fadein {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  @media only screen and (min-width: 700px) {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: auto;
    margin: auto;
    height: 100%;
    width: 70%;
    overflow: hidden;
  }

}
.fadein img {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1, #f2, #f3 {
  max-width: 100%;
  @media only screen and (min-width: 700px) {
    max-height: 100%;
    max-width: none;
  }
}
#f2 {
    -webkit-animation-delay: -16s;
}
#f3 {
    -webkit-animation-delay: -8s;
}
